* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spotify-stats {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

button {
  background-color: #ad49e1;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 50px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: white;
  color: #ad49e1;
  transform: scale(1.05);
}

div {
  text-align: center;
}

input {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #282828;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}


.page-wrapper {
  width: 100%; /* full screen width */
  min-height: 100vh; /* full screen height */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8; /* or whatever you want */
  overflow-x: hidden; /* prevents weird side scrolls */
}

.headerDiv {
  width: 100%; /* FULL width */
  display: flex;
  justify-content: center;
  margin-top: 180px;
  margin-bottom: 10px;
}


.generate-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212; /* dark background if needed */
  min-height: 100vh; /* stretch full screen height */
}

.generate-content {
  text-align: center;
  padding: 40px;
  color: white;
  font-size: 24px;
}

